<mat-toolbar>
  <span>Select Uploads</span>
  <button mat-button
          *ngIf="selectedUploads.length > 0"
          [disabled]="pending"
          [style.margin-left.px]="12"
          (click)="select.emit(selectedUploads)">Select</button>
</mat-toolbar>
<section fxLayout="row | wrap"
         fxLayoutAlign="start start">
  <section fxLayout="column"
           fxLayoutAlign="start stretch"
           fxFlex
           [style.margin-right.px]="4">
    <p class="mat-title">Available</p>
    <section cdkDropList
             #list="cdkDropList"
             [cdkDropListData]="uploads"
             [cdkDropListConnectedTo]="[selected]"
             class="container drop-container"
             (cdkDropListDropped)="drop($event)">
      <section *ngFor="let u of uploads"
               class="background card container elevated clickable"
               cdkDrag>
        <p>{{u.file}}</p>
      </section>
    </section>
  </section>
  <section fxLayout="column"
           fxLayoutAlign="start stretch"
           fxFlex
           [style.margin-left.px]="4">
    <p class="mat-title">Selected</p>
    <section cdkDropList
             #selected="cdkDropList"
             [cdkDropListData]="selectedUploads"
             [cdkDropListConnectedTo]="[list]"
             class="container drop-container"
             (cdkDropListDropped)="drop($event)">
      <section *ngFor="let s of selectedUploads"
               class="background card container elevated clickable"
               cdkDrag>
        <p>{{s.file}}</p>
      </section>
    </section>
  </section>
</section>
